.main {
    display: flex;
    height: 100%;
    width: 100%;
}

app-menu {
    display: flex;
    width: 12%;
    overflow-y: auto;
    overflow-x: hidden;
}

.fill{
    flex: 1 1 auto;
    display: flex;
    overflow: hidden;
}

@media only screen and (max-width: 1200px) {
    app-menu {
        display: flex;
        width: 5%;
        overflow-y: auto;
        overflow-x: hidden;
    }
}