:host {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #e7eaf6;
    padding: 0 10px;
}

.header {
    display: flex;
    flex-direction: row;
    padding: 2vh 0;
    font-size: larger;
    font-weight: 500;
    border-bottom: 1px solid rgba(175, 169, 169, 0.2);

}

.chart-div {
    margin: 2vh 0;
    display: flex;
    flex-direction: column;
}

.table-div {
    display: flex;
    flex-direction: column
}

.item-title {
    padding-top: 3vh;
    opacity: 1;
    font-size: 14px;
    font-weight: 900;
}